<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="title-box">
          <h1><a class="navbar-title" href="/">Tech Blog</a></h1>
        </div>
        <nav>
          <button id="logout" class="btn-no-style">logout</button>
          <a class="login-button" href="/login">login</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
    <script src="/javascript/logout.js"></script>
  </body>

</html>