<a href="/"> &larr; Back to Homepage</a>

{{> post-info post}}

{{#if loggedIn}}
<div class="comment-form">
  <div>
    <textarea placeholder="Your comment goes here!" name="comment-body"></textarea>
  </div>
  <div>
    <button id="add-comment" type="submit">Add comment</button>
  </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}